
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="static/style1.css">
</head>
<body style="margin-top: -42px">
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <div style="background-color:black;padding:0px 30px 2500px; margin-top: 30px; height: ; color: #32CD32;">
    <div style ="text-align:initial;  color: yellowgreen; font-size:13.5px;">
    <div style= "margin-top: 50px; font-size: larger; color: white; background-color: transparent;">
        <h1><center style="padding-top: 22px;"> Fetch configuration</center></h1>
    <div>
        <input type="button" value="Go back!" style="margin-top: -52px;width: 85px;height: 35px;margin-bottom: 40px;color: white;background-color: dodgerblue;font-size:15px;" onclick="history.back()">
    </div>

    <div>
        <button onclick="location.href='http://127.0.0.1:5000/SSH-Buddy'" style="margin-top: -76px; height: 35px; width: 85px; background-color: dodgerblue;font-size:15px; color: white; margin-left: 110px;" type="button">Home</button>
    </div>
    <div><button style="margin-left: 225px; background:dodgerblue; color:white; margin-top: -75px; height: 35px; width: 85px;" id='copy'>Copy</button></div>
    </div></div><div id ="div" style="color: yellowgreen; font-size: 15px; "><pre>{{ output }}</pre><br></div></div>
<script src="static/mainj.js"></script>
</body>
</html>
